<h4 style="text-decoration:underline"><%=h @subject -%></h4>

<p><b>Nombre:</b><%= @form.name -%></p>
<p><b>Telefono:</b><%= @form.telephone -%></p>
<p><b>Email:</b><%= @form.email -%></p>
<% if @form.respond_to? :birth_date %>
<p><b>Cumpleaños:</b><%= @form.birth_date -%></p>
<% end %>
<% if @form.respond_to? :message %>
<p><b>Mensaje:</b><%= @form.message -%></p>
<% end %>