<h1>Listando eventos</h1>

<table>
  <tr>
    <th>Actividad</th>
    <th>Locación</th>
    <th>Dia de la semana</th>
    <th>Hora</th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%=h event.activity.name %></td>
    <td><%=h event.location.name %></td>
    <td><%=h t('date.day_names')[event.day_of_week] %></td>
    <td><%=h event.happens_at.strftime('%H:%M') %></td>
    <td><%= link_to 'Ver', activity_event_path(@activity, event) %></td>
    <td><%= link_to 'Editar', edit_activity_event_path(@activity, event) %></td>
    <td><%= link_to 'Eliminar', activity_event_path(@activity, event), :confirm => 'Esta seguro?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo evento', new_activity_event_path(@activity) %>