<p>
  <b>Actividad:</b>
  <%=h @event.activity.name %>
</p>

<p>
  <b>Locacion:</b>
  <%=h @event.location.name %>
</p>

<p>
  <b>Dia de la semana:</b>
  <%=h t('date.day_names')[@event.day_of_week] %>
</p>

<p>
  <b>Hora:</b>
  <%=h @event.happens_at.strftime('%H:%M') %>
</p>


<%= link_to 'Editar', edit_activity_event_path(@activity, @event) %> |
<%= link_to 'Atras', activity_events_path(@activity) %>