<% semantic_form_for @post do |form| %>
  <% form.inputs do %>
    <%= form.input :subject %>
    <%= form.input :body %>
  <% end %>
  <% form.buttons do %>
    <%= form.commit_button %>
    <% if controller.action_name == 'edit' %>
      <li><%= link_to 'Cancelar', post_path(@post) %></li>
    <% else %>
      <li><%= link_to 'Cancelar', blog_path %></li>
    <% end %>
  <% end %>
<% end %>