<h2>Contacto</h2>
<% semantic_form_for @contact_form, :url => contact_form_path do |f| %>
  <% f.inputs do %>
    <%= f.input :name, :label => 'Nombre y apellido' %>
    <%= f.input :email, :label => 'Email' %>
    <% f.inputs :class => 'field-group' do %>
      <%= f.input :telephone, :label => 'Teléfono' %>
      <%= f.input :birth_date, :label => 'Fecha de nacimiento', :required => false %>
    <% end %>

    <%= f.input :message, :as => :text, :label => 'Mensaje'%>

  <% end %>
  <p class='required_field_note'>* Campo Requerido</p>
  <% f.buttons do %>
     <%= f.commit_button 'Enviar' %>
    <li><%= link_to 'cancelar', root_url %></li>
  <% end %>
<% end %>