<h1>Listando locaciones</h1>

<table>
  <tr>
    <th>Nombre</th>
  </tr>

<% @locations.each do |location| %>
  <tr>
    <td><%=h location.name %></td>
    <td><%= link_to 'Ver', location %></td>
    <td><%= link_to 'Editar', edit_location_path(location) %></td>
    <td><%= link_to 'Eliminar', location, :confirm => 'Esta seguro?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nueva locación', new_location_path %>