<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>

<head>
  <title>BODYPOINT | GYM &#38; FITNESS</title>
  <script type="text/javascript" src="/javascripts/jquery-1.4.2.min.js"></script>
  <script type="text/javascript" src="/javascripts/jquery-ui-1.8rc3.custom.min.js"></script>
  <script type="text/javascript" src="/javascripts/ckeditor/ckeditor.js"></script>
  <script type="text/javascript" src="/javascripts/ckeditor/adapters/jquery.js"></script>

  <LINK REL=StyleSheet HREF="/stylesheets/reset.css" TYPE="text/css" MEDIA=screen>
  <LINK REL=StyleSheet HREF="/stylesheets/text.css" TYPE="text/css" MEDIA=screen>
  <LINK REL=StyleSheet HREF="/stylesheets/layout.css" TYPE="text/css" MEDIA=screen>
  <LINK REL=StyleSheet HREF="/stylesheets/style2.css" TYPE="text/css" MEDIA=screen>
  <LINK REL=StyleSheet HREF="/stylesheets/menu.css" TYPE="text/css" MEDIA=screen>
  <link type="text/css" href="/stylesheets/ui-lightness/jquery-ui-1.8rc3.custom.css" rel="stylesheet" />
  <%= stylesheet_link_tag('formtastic') %>
  <%= stylesheet_link_tag('formtastic_changes') %>
  <%= stylesheet_link_tag('blog') %>
</head>

<body>

<div id="canvas">
  <div id="header_zone">
    <div id="logo_area">
      <div id="logo_frame">
      </div>
    </div>
    <div id="menu_area">
      <div id="menu_frame">
        <%= render :partial => 'shared/menu' %>
      </div>
    </div>
  </div>
  <div id="main_zone">
    <div id="main_leftarea">
      <div id="news_frame">
        <div id="news_header">
        </div>
        <div id="news_border">
        </div>
        <div id="news_content">
          <%= render :partial => 'shared/news' %>
        </div>
      </div>
      <div id="sidebar_frame">
        <div id="inscribite_side" class="promobutton_side">
          <h3>INSCRIBITE</h3>
        </div>
        <div id="promo_side" class="sidead">
        </div>
      </div>
      <div id="leftarea_foot">
      </div>
    </div>
    <div id="main_midarea">
      <div class="fullbox_head">
      </div>
      <div class="fullbox_body">
        <div id="content_frame" class="sede content">
          <%= yield %>
        </div>
      </div>
      <div class="fullbox_foot">
      </div>
    </div>
  </div>
</div>
</body>

</html>